/*
This file uses the ordering standard defined at
https://9elements.com/css-rule-order/
*/

html {
  scrollbar-color: lavender rgb(7, 0, 11);
}

@keyframes cookie-notice-fade-in {
  from {
    opacity: 0;
    right: 0;
    bottom: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes expanding-box {
  from {
    width: 50%;
    height: 25%;

    background-color: rgba(7, 0, 11, 100%);
  }
  to {
    border-radius: 50px;
    width: 100%;
    height: 200%;

    background-color: rgba(7, 0, 11, 85%);
    backdrop-filter: blur(50px) saturate(3) brightness(0.75) hue-rotate(360deg);
  }
}

@keyframes expanding-box-opaque {
  from {
    width: 50%;
    height: 25%;
  }
  to {
    border-radius: 50px;
    width: 100%;
    height: 200%;
  }
}

@keyframes corner-box {
  from {
    opacity: 100%;

    border-radius: 100px;
    width: 0;
    height: 0;
  }
  to {
    opacity: 50%;

    width: 75%;
    height: 62.5%;
  }
}

@font-face {
  font-family: Leandru;
  src: local(Leandru), url("fonts/Leandru.ttf") format("ttf");
}

body {
  background-attachment: fixed;
  background-color: rgb(7, 0, 11);

  font-family: sans-serif;
  color: snow;
}

button {
  border: 1px solid gray;
  border-radius: 4px;
}

footer {
  background-color: rgb(0, 0, 32);
  position: absolute;
  left: 0;

  box-shadow: inset black 3px 3px 3px;
  border-top: 2px solid gray;
  border-radius: 20px 20px 0 0;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
}

h2 {
  position: sticky;
  z-index: 500;

  margin: 16px 30px;
  box-shadow: rgb(32, 0, 16) 4px 4px 4px, inset rgb(32, 0, 16) 4px 4px 4px;
  border: 5px solid rgb(160, 10, 100);
  width: fit-content;
  border-radius: 30px;
  padding: 10px;

  background-color: rgb(90, 0, 55);

  font-weight: bolder;
  text-align: center;
}

hr {
  margin: auto;
  width: 75%;
}

nav {
  position: sticky;
  z-index: 1000;
  top: 15px;

  margin: 0 20px;

  ul {
    justify-content: space-around;

    display: flex;

    margin: 12px;

    list-style: none;

    li a {
      justify-content: center;
      align-items: center;

      display: flex;

      border-radius: 100px;
      height: 20px;
      padding: 10px;

      background-color: inherit !important;
      /*backdrop-filter: inherit;*/

      text-decoration: none;
      font-size: 1.2em;

      &:hover {
        font-size: 1.25em;
      }

      &:active {
        font-size: 1.15em;
      }

      img {
        height: 1em;
      }
    }
  }
}

ul.technologies-icons {
  align-items: center;

  display: flex;

  padding: 0;

  list-style: none;

  li {
    position: relative;
    justify-content: center;
    align-items: center;

    display: flex;

    margin: 2px;
    border: 1px solid gray;
    border-radius: 4px;
    min-width: 1.5em;
    padding: 5px;

    background-color: black;

    flex-direction: column;

    img {
      height: 1.5em;
    }

    span {
      font-size: 0.8em;
      text-align: center;
    }
  }
}

.button {
  background-color: rgb(27, 20, 27);

  transition: 200ms;

  color: rgb(220, 210, 220);

  &:hover {
    box-shadow: black 4px 4px 4px;

    transition: 200ms;

    background-color: rgb(50, 32, 50) !important;
  }

  &:active {
    transition: 200ms;

    box-shadow: inset black 2px 2px 2px;
  }
}

.checkbtn {
  cursor: pointer;

  font-size: 40px;
  color: white;
}

.corner-box {
  position: fixed;
  z-index: -2;

  opacity: 50%;

  animation: corner-box 2s ease-in-out;

  width: 75%;
  height: 62.5%;
}

.expanding-box {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  animation: expanding-box 1s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  width: 100%;
  height: 100%;
}

.header-container {
  justify-content: center;
  align-items: center;

  display: flex;

  height: 100vh;

  * {
    flex-basis: 50%;

    text-align: center;
    font-family: Leandru, Georgia, serif;
  }
}

.nav-img {
  margin-left: 5px;
}

.noscript-box {
  animation: none;
}

.overlay {
  border: 2px solid rgb(96, 64, 96);
  box-shadow: black 3px 3px 3px, inset black 3px 3px 3px;
  border-radius: 20px;

  background-color: rgba(27, 20, 27, 85%);
  backdrop-filter: blur(50px) saturate(3) brightness(0.75);
}

.portfolio-description {
  flex: 1;

  p.github-link {
    text-align: end;

    .github-link-image {
      content: url("images/icons/github.svg");
      height: 1em;
      filter: brightness(0) invert(1);
    }
  }
}

.portfolio-entry {
  justify-content: space-around;
  align-items: center;
  clear: right;

  display: flex;

  margin: 70px 30px;
}

.portfolio-entry-item {
  margin: 30px;
  box-shadow: rgb(16, 0, 16) 2px 2px 2px, inset rgb(16, 0, 16) 2px 2px 2px;
  border: 1px solid rgb(126, 101, 143);
  border-radius: 10px;
  padding: 20px;

  background-color: rgb(64, 21, 64);

  a {
    color: lightblue;

    &:visited {
      color: plum;
    }

    &:hover {
      color: cyan;
      text-shadow: black 2px 2px 2px;
    }

    &:active {
      color: lightcoral;
      text-shadow: none;
    }

  }
}

.portfolio-extra-margin {
  margin-top: 80px;
}

.portfolio-header-section {
  flex: 3;
  justify-content: space-around;
  align-items: center;

  display: flex;
}

.portfolio-header {
  flex: 3;

  box-shadow: rgb(0, 0, 64) 3px 3px 3px, inset rgb(0, 0, 64) 3px 3px 3px;
  border: 2px solid rgb(0, 133, 255);

  background-color: rgb(0, 60, 115);

  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.portfolio-screenshot {
  flex: 1 0 10%;

  transition: 500ms;
}

.pre-navbar {
  flex-direction: column;
  justify-content: center;

  display: flex;

  height: 50vh;
}

#bio {
  box-shadow: black 3px 3px 3px, inset black 3px 3px 3px;
  border: 2px solid gray;
  border-radius: 20px;

  background-color: rgb(0, 0, 32);
}

#bottom-left-box {
  bottom: 0;
  left: 0;

  background-color: purple;
}

#bottom-right-box {
  bottom: 0;
  right: 0;

  background-color: blue;
}

#cookie-notice {
  position: fixed;
  z-index: 10000;
  bottom: 10px;
  right: 10px;

  animation: cookie-notice-fade-in 0.5s ease-in-out;

  margin-left: 10px;
  padding: 10px;

  font-size: 1.2em;
  text-align: center;
}

#cookie-notice-dismiss {
  padding: 5px;
}

#check {
  display: none;
}

#check:checked ~ ul {
  display: flex;
}

#top-left-box {
  top: 0;
  left: 0;

  background-color: red;
}

#top-right-box {
  top: 0;
  right: 0;

  background-color: mediumorchid;
}

@media (min-width: 750px) {
  h2 {
    top: 99px;

    min-width: 67%;

    font-size: 2.5em;
  }

  nav ul li {
    min-width: 10%;
  }

  ul.technologies-icons {
    justify-content: start;
  }

  .checkbtn {
    display: none;
  }

  .header-container {
    font-size: 2em;
  }

  .portfolio-entry {
    flex-direction: row;
    height: 50vh;
  }

  .portfolio-header-section {
    flex-direction: row;
  }

  .portfolio-screenshot {
    img {
      width: 100%;
    }

    &:hover {
      flex: 3;
    }
  }

  .pre-navbar {
    margin-bottom: 10%;
  }

  #bio {
    margin: 10%;
    padding: 5%;
  }
}

@media (min-width: 1200px) {
  .portfolio-description p.github-link {
    float: right;
  }
}

@media (max-width: 750px) {
  h2 {
    top: 15px;
    float: right;

    max-width: 50%;

    font-size: 2em;
  }

  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: flex;

    margin-left: 15px;
    width: fit-content;
    padding: 0;

    ul {
      flex-direction: column;
      align-items: center;

      display: none;

      margin: 0;
      width: 100%;
      padding: 0;

      li {
        min-width: 30vw;
        padding: 10px;

        text-align: center;
      }
    }
  }

  .checkbtn {
    justify-content: center;
    align-items: center;

    display: flex;

    min-width: 75px;
    width: 100%;
    height: 75px;
  }

  .portfolio-entry {
    flex-direction: column;
  }

  .portfolio-header-section {
    flex-direction: column;
  }

  .pre-navbar {
    margin-bottom: 30%;
  }

  .portfolio-screenshot img {
      max-width: 60vw;
  }

  #bio {
    margin: 5%;
    padding: 10%;
  }
}

@media (max-width: 1200px) {
  ul.technologies-icons {
    justify-content: center;
  }
}

@media (prefers-reduced-transparency) {
  .expanding-box {
    opacity: 100%;

    animation: expanding-box-opaque 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  }
}

@media (prefers-reduced-motion) {
  .corner-box {
    animation: none;
  }

  .expanding-box {
    animation: none;
  }

  .portfolio-header-section img {
    transition: none;
  }
}

@media (prefers-contrast: more) {
  body {
    color: white;
  }
}

@media (prefers-contrast: less), (prefers-contrast: no-preference) {
  h2 {
    color: lavenderblush;
  }

  h3 {
    color: azure;
  }

  .portfolio-entry-item {
    color: lavender;
  }
}

@media (hover: hover) {
  ul.technologies-icons li {
    span {
      position: absolute;
      top: 100%;

      opacity: 0;

      transition: 100ms;

      border: 1px solid gray;
      border-radius: 4px;
      padding: 5px;

      background-color: black;
    }

    &:hover span {
      top: calc(100% + 5px);
      opacity: 1;
      transition: 100ms;
    }
  }
}

@media (hover: none) {
  ul.technologies-icons li span {
    margin: 5px;
  }
}

::selection {
  background-color: blueviolet;
}