/*
This file uses the ordering standard defined at
https://9elements.com/css-rule-order/
*/

@keyframes expanding-box {
  from {
    opacity: 100%;

    width: 50%;
    height: 25%;
  }
  to {
    opacity: 85%;

    border-radius: 50px;
    width: 100%;
    height: 200%;
  }
}

@keyframes expanding-box-opaque {
  from {
    width: 50%;
    height: 25%;
  }
  to {
    border-radius: 50px;
    width: 100%;
    height: 200%;
  }
}

@keyframes corner-box {
  from {
    opacity: 100%;

    border-radius: 100px;
    width: 0;
    height: 0;
  }
  to {
    opacity: 50%;

    width: 75%;
    height: 62.5%;
  }
}

body {
  background-attachment: fixed;
  background-color: rgb(16, 16, 16);

  font-family: sans-serif;
  color: floralwhite;
}

footer {
   background-color: rgb(0, 0, 32);
   position: absolute;
   left: 0;

   box-shadow: inset black 3px 3px 3px;
   border-top: 2px solid gray;
   border-radius: 20px 20px 0 0;
   box-sizing: border-box;
   width: 100%;
   padding: 10px 15px;
 }

h2 {
  position: sticky;

  margin: 16px 30px;
  box-shadow: rgb(0, 16, 0) 4px 4px 4px, inset rgb(0, 16, 0) 4px 4px 4px;
  border: 5px solid green;
  width: fit-content;
  border-radius: 30px;
  padding: 10px;

  background-color: rgb(0, 32, 0);

  font-weight: bolder;
  text-align: center;
  /*color: honeydew;*/
}

hr {
  margin: auto;
  width: 75%;
}

nav {
  position: sticky;
  z-index: 1000;
  top: 15px;

  margin: 0 20px;
  border-radius: 20px 20px 20px 20px;

  background-color: rgb(128, 128, 255);

  border: 2px solid blue;
  box-shadow: midnightblue 5px 5px 5px, inset midnightblue 5px 5px 5px;

  ul {
    justify-content: space-around;

    display: flex;

    list-style: none;

    li a {
      justify-content: center;
      align-items: center;

      display: flex;

      transition: 200ms;

      box-shadow: midnightblue 2px 2px 2px;
      border: black 1px solid;
      border-radius: 10px;
      height: 20px;
      padding: 5px;

      background-color: aliceblue;

      text-decoration: none;
      color: black;

      &:hover {
        box-shadow: midnightblue 4px 4px 4px;

        transition: 200ms;

        background-color: dodgerblue;
      }

      &:active {
        transition: 200ms;

        box-shadow: inset midnightblue 2px 2px 2px;
      }

      img {
        height: 1em;
      }
    }
  }
}

ul.technologies-icons {
  align-items: center;

  display: flex;

  padding: 0;

  list-style: none;

  li {
    justify-content: center;
    align-items: center;

    display: flex;

    margin: 2px;
    border: 1px solid gray;
    border-radius: 4px;
    min-width: 1.5em;
    padding: 5px;

    background-color: black;

    img {
      height: 1.5em;
    }
  }


}

.checkbtn {
  cursor: pointer;

  font-size: 40px;
  color: white;
}

.corner-box {
  position: fixed;
  z-index: -2;

  opacity: 50%;

  animation: corner-box 2s ease-in-out;

  width: 75%;
  height: 62.5%;
}

.expanding-box {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;

  opacity: 85%;

  transform: translate(-50%, -50%);

  animation: expanding-box 1s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  width: 100%;
  height: 100%;

  background-color: rgb(16, 16, 16);
}

.header-container {
  justify-content: center;
  align-items: center;

  display: flex;

  height: 100vh;

  * {
    flex-basis: 50%;

    text-align: center;
  }
}

.nav-img {
  margin-left: 5px;
}

.portfolio-description {
  flex: 1;

  p.github-link {
    text-align: end;

    img {
      height: 1em;
      filter: brightness(0) invert(1);
    }
  }
}

.portfolio-entry {
  justify-content: space-around;
  align-items: center;
  clear: right;

  display: flex;

  margin: 70px 30px;
}

.portfolio-entry-item {
  margin: 30px;
  box-shadow: rgb(16, 16, 0) 2px 2px 2px, inset rgb(16, 16, 0) 2px 2px 2px;
  border: 1px solid gold;
  border-radius: 10px;
  padding: 20px;

  background-color: rgb(32, 32, 0);

  color: floralwhite;

  a {
    color: lightblue;

    &:hover {
      color: cyan;
    }

    &:active {
      color: lightcoral;
    }

    &:visited {
      color: plum;
    }
  }
}

.portfolio-extra-margin {
  margin-top: 80px;
}

.portfolio-header {
  flex: 3;
  justify-content: space-around;
  align-items: center;

  display: flex;

  h3 {
    flex: 2;

    box-shadow: rgb(32, 0, 0) 3px 3px 3px, inset rgb(32, 0, 0) 3px 3px 3px;
    border: 2px solid red;

    background-color: rgb(64, 0, 0);

    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: linen;
  }

  img {
    flex: 1;

    transition: 500ms;
  }
}

.pre-navbar {
   flex-direction: column;
   justify-content: center;

   display: flex;

   height: 50vh;
 }

.screenshot {
  width: 25%;
}

#bio {
  box-shadow: black 3px 3px 3px, inset black 3px 3px 3px;
  border: 2px solid gray;
  border-radius: 20px;

  background-color: rgb(0, 0, 32);
}

#bottom-left-box {
  bottom: 0;
  left: 0;

  background-color: blue;
}

#bottom-right-box {
  bottom: 0;
  right: 0;

  background-color: yellow;
}

#check {
  display: none;
}

#check:checked ~ ul {
  display: flex;
}

#top-left-box {
  top: 0;
  left: 0;

  background-color: red;
}

#top-right-box {
  top: 0;
  right: 0;

  background-color: green;
}

@media (min-width: 750px) {
  h2 {
    top: 99px;

    min-width: 67%;

    font-size: 2.5em;
  }

  nav ul li {
    min-width: 10%;
  }

  ul.technologies-icons {
    justify-content: start;
  }

  .checkbtn {
    display: none;
  }

  .portfolio-description {
    text-align: end;
  }

  .portfolio-entry {
    flex-direction: row;
    height: 50vh;
  }

  .portfolio-header {
    flex-direction: row;

    img:hover {
      flex: 3;
    }
  }

  .pre-navbar {
    margin-bottom: 10%;
  }

  #bio {
    margin: 10%;
    padding: 5%;
  }
}

@media (min-width: 1200px) {
  .portfolio-description p.github-link {
    float: right;
  }
}

@media (max-width: 750px) {
  h2 {
    top: 15px;
    float: right;

    max-width: 50%;

    font-size: 2em;
  }

  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: flex;

    margin-left: 15px;
    width: fit-content;
    padding: 0;

    ul {
      flex-direction: column;
      align-items: center;

      display: none;

      margin: 0;
      width: 100%;
      padding: 0;

      li {
        min-width: 30vw;
        padding: 10px;

        text-align: center;
      }
    }
  }

  .checkbtn {
    justify-content: center;
    align-items: center;

    display: flex;

    min-width: 75px;
    width: 100%;
    height: 75px;
  }

  .portfolio-entry {
    flex-direction: column;
  }

  .portfolio-header {
    flex-direction: column;
  }

  .pre-navbar {
    margin-bottom: 30%;
  }

  #bio {
    margin: 5%;
    padding: 10%;
  }
}

@media (max-width: 1200px) {
  ul.technologies-icons {
    justify-content: center;
  }
}

@media (prefers-reduced-transparency) {
  .expanding-box {
    opacity: 100%;

    animation: expanding-box-opaque 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  }
}

@media (prefers-reduced-motion) {
  .corner-box {
    animation: none;
  }

  .expanding-box {
    animation: none;
  }

  .portfolio-header img {
    transition: none;
  }
}

@media (prefers-contrast: more) {
  body {
    color: white;
  }
}

@media (prefers-contrast: less), (prefers-contrast: no-preference) {
  h2 {
    color: honeydew;
  }

  h3 {
    color: linen;
  }
}